body {
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.jumbotron {
    padding: 2rem 1rem; /* Reduced padding */
    margin-bottom: 1rem;
}

h2 {
    margin-top: 2rem;
    color: #0c2e53;
}

.card-title {
    color: #0056b3;
}

.card-text {
    color: #666;
}

.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
}

a {
    color: #0056b3;
}

a:hover {
    text-decoration: none;
}

ul {
    padding-left: 1rem;
}

header {
    background-color: #e9ecef; /* Grey background */
}
